@use './design/colors';
@use './design/fonts';
@use './design/spacing';

@import './design/cssreset';

@import './design/components/homepage.scss';

body {
  font-family: 'Yantramanav', sans-serif;
  background-color: colors.$black;
  color: colors.$white;
  padding: spacing.$space-5 0;
}

a {
  color: colors.$blue;
  text-decoration: none;
}

.banner-title {
  font-size: fonts.$huge;
  text-align: center;
  color: colors.$red;
}

.banner-subtitle {
  font-size: fonts.$larger;
  text-align: center;
}

.pages {
  width: 300%;
  display: flex;
  flex-direction: row;

  position: relative;
  left: 0;
  transition: left 0.5s;

  .page {
    width: 100%;
    padding: 0 spacing.$space-6;
  }

  &[data-active-index="0"] {
    left: -100%;
  }

  &[data-active-index="1"] {
    left: -200%;
  }
}